

#imagen{
    width: 100%;
    height: 250px;
    background-color: rebeccapurple;
    background-image: url("./../Recursos/libros.jpg");
}

#btn_inicio{
    /*visibility: hidden;
    display: none;*/
}




